.message {
  margin: auto;
  width: 80vw;
  height: 80vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1rem;
  border: 3px solid red;

  color: black;
  font-style: italic;
  white-space: pre-wrap;
  outline: none;

  opacity: 0;
  transform: scale(0.9);

  transition:
    opacity 0.4s ease-out,
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    display 0.4s allow-discrete,
    overlay 0.4s allow-discrete;

}

body:has(dialog[open]) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.message[open] {
  opacity: 1;
  transform: scale(1);
}

@starting-style {
  .message[open] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.message:not([open]) {
  opacity: 0;
  transform: scale(0.9);
}

.message::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition:
    display 0.4s allow-discrete,
    overlay 0.4s allow-discrete,
    background-color 0.4s ease;
}

.message[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

@starting-style {
  .message[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}

p {
  font-size: clamp(1rem, 0.3rem + 2vw, 2rem);
}

textarea:focus {
  outline: none;
}

.custom-cursor {
  display: inline-block;
  width: 10px;
  height: 1.2em;
  background-color: #dc2626;
  margin-left: 4px;
  animation: blink 0.8s infinite;
  vertical-align: middle;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

