@import 'tailwindcss';

:root {
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #8fdcf5;
  background-image: url('/snow-1847358_1280.webp');
  background-position: center top;
  background-repeat:repeat;
background-size: cover;
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
    height: 100%;
  width: 100%;
}

h1 {
  line-height: 1.1;
}

button {

  font-weight: 500;

  cursor: pointer;
  transition: border-color 0.25s;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


}


input, textarea{
 appearance: none;
}

